.idea/
.coverage
bin/
include/
lib/
pip-selfcheck.json
share/
dist/
Riot_python.egg-info
*.pyc
build/
data/
trained_models/
venv/
output/
emopy_venv/
EmoPy/examples/image_data/image.jpg
EmoPy/examples/image_data/fer2013.csv
